* {
  box-sizing: border-box;
}

.top-buffer {
  margin-top: 20px;
}

h1 {
  font-size: 4em !important;
  text-align: center;
  color: black !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  text-align: center;
  font-size: 2.5em !important;
  margin-top: 10px !important;
  color: black !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h6 {
  text-align: center;
}

body {
  background-color: burlywood !important;
}

.highlight-black {
  border: 3px solid black;
}
.highlight-red {
  border: 3px solid red;
}
.highlight-green {
  border: 3px solid green;
}

#keyboard {
  height: 210px;
  overflow: auto;
  margin: auto 0;
}

#keysignatures {
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

svg {
  visibility: hidden;
  animation: fadeInAnimation infinite linear 2s;
  z-index: -1;
}
